.poster36{width:90vw;
    margin-top:20px;
    padding:2px;}
    .poster2,.poster3,.poster4,.poster5,.poster6,.poster7,.poster8,.poster9,.poster10,.poster11,.poster12,.poster13,.poster14,.poster15,.poster16,.poster17,.poster18,.poster19,.poster20,.poster21,.poster22,.poster23,.poster24,.poster25,.poster26,.poster27,.poster28,.poster29,.poster30,.poster31,.poster32,.poster33,.poster34,.poster35{
        width:90vw;
    margin-top:20px;
    padding:2px;}

    .poster1{width:90vw;
        margin-top:20px;
        padding:2px;}

.content2{width:30vw; 
    font-size:14px;
    text-align: right;
    color:gray;}





        .right1{display: inline-block;
            width: 70vw;
            font-size: 14px;
            text-align: left;
            font-weight:600;
            color: rgb(124, 35, 35);}
        .left1{display: inline-block;
            width: 45vw;
            font-size: 14px;
            text-align: right;
            font-weight:600;
            color: rgb(124, 35, 35);
            margin-right: -9vw;}

.footnote{ display:flex;}
