.poster0,.poster4{width:45vw;
    margin-top:20px;
    padding:2px;}
.poster2,.poster3{width:45vw;
    margin-top:20px;
    padding:2px;
    display:none;}
.poster5{width:90vw;
    margin-top:20px;
    padding:2px;}

    .poster1{width:45vw;
        margin-top:20px;
        padding:2px;}

.content2{width:30vw; 
    font-size:14px;
    text-align: right;
    color:gray;}


.content1_2,.content4_2,.content5_2{width: 358px;
    margin-left: 27vw;
    margin-top: -16px;
    font-size:14px;
    text-align: right;
    color:gray;
display:inline-block;}

.content2_2,.content3_2{width: 358px;
    margin-left: 27vw;
    margin-top: -16px;
    font-size:14px;
    text-align: right;
    color:gray;
display:none;}



        .right1{display: inline-block;
            width: 70vw;
            font-size: 14px;
            text-align: left;
            font-weight:600;
            color: rgb(124, 35, 35);}
        .left1{display: inline-block;
            width: 45vw;
            font-size: 14px;
            text-align: right;
            font-weight:600;
            color: rgb(124, 35, 35);
            margin-right: -9vw;}

.footnote{ display:flex;}
