

.content2{width:30vw; 
    font-size:14px;
    text-align: right;
    color:gray;}



    video::-webkit-media-controls-enclosure{
        display:none;
    }
    
        .video1{width:90vw;}
        
        .image01{width:90vw;
            padding:2px;}


        .right1{display: inline-block;
            width: 70vw;
            font-size: 14px;
            text-align: left;
            font-weight:600;
            color: rgb(124, 35, 35);}
        .left1{display: inline-block;
            width: 45vw;
            font-size: 14px;
            text-align: right;
            font-weight:600;
            color: rgb(124, 35, 35);
            margin-right: -9vw;}

.footnote{ display:flex;}
